@font-face {
  font-family: 'font-awesome';
  src: url('node_modules/font-awesome/fonts/fontawesome-webfont.woff2');
}

html body {
  height: 100%;
  width: 100%;
  margin: 0px;
  padding: 0px;
}

.container.text-center {
  margin-top: 10px;
}

/* #camera_video {
  margin-top: 10px;
  width: 320px;
  height: 240px;
} */

#camera_video {
  margin-top: 10px;
  width: 640px;
  height: 480px;
}