html body {
  height: 100%;
  width: 100%;
  margin: 0px;
  padding: 0px;
}

.container.text-center {
  margin-top: 10px;
}

#camera_video {
  margin-top: 10px;
  width: 640px;
  height: 480px;
}

.centered {
  position: absolute;
  color: white;
  font-size: 10rem;
  font-weight: bold;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#emo-gender, #emo-accessories{
  text-transform: capitalize;
}